/* This is a CSS style sheet for rules that should be applied over the
   entire application.  We are not using the name prefix for these rules.  */

/* class="container" - Sets some margins around the element so it is spaced
                       from the top, bottom, and sides of the window. */

.container {
  padding: 40px 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  display: flex;
}
.link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  height: 30px;
  padding: 10px;
  background-color: #cae2ec;
  border-radius: 3px;
}
